
 /* General styles */
:root {
     --gray-text-color: #83888F;
     --white-text-color: #FEFCF7;
     --button-background-color: #66D2CF;
     --dark-gray-color: #83888F;
     --orange-icon-color: #FDD6BA;
     --dark-color: #333D4B;
     --hover-transition: all 0.3s ease-out;
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     font-size: 16px;
     font-family: 'Barlow';
}

.container {
     width: 100%;
     margin-left: auto;
     margin-right: auto;
     max-width: 1280px;
}
.general-button {
     border-radius: 6px;
     background: var(--button-background-color);
     padding-top: 15px;
     padding-bottom: 16px;
     padding-left: 31px;
     padding-right: 31px;

     color: var(--white-text-color);
     text-align: center;
     font-family: "Fraunces";
     font-size: 18px;
     font-style: normal;
     font-weight: 900;
     line-height: 25px; /* 138.889% */
     border: none;
     cursor: pointer;
}

.general-button:hover {
     background: #326564;
     transition: var(--hover-transition);
}

/* Header styles */
.header__container {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 44px 0px;
}

.header__logo img {
     width: 236px;
}

.header__nav ul {
     list-style: none;
     display: flex;
}

.header__nav ul li:not(:last-child) {
     margin-right: 33px;
}

.header__nav ul a {
     text-decoration: none;
     color: #83888F;
     font-size: 12px;
     font-style: normal;
     font-weight: 700;
     line-height: 15px; /* 125% */
     letter-spacing: 0.923px;
     text-transform: uppercase;
}

.header__nav ul a:hover {
     color: var(--dark-color);
     transition: var(--hover-transition);
}

/* Hero styles */

.hero__container {
     background-image: url('../img/Bitmap@2x.jpg');
     background-size: 100% 100%;
     border-radius: 10px;
     padding: 96px 86px;
}

.hero__container h1 {
     color: var(--white-text-color);
     font-family: 'Fraunces';
     font-size: 72px;
     font-style: normal;
     font-weight: 900;
     line-height: 72px; /* 100% */
     width: 50%;
     margin-bottom: 32px;
}

.hero__container p {
     color: var(--white-text-color);
     font-family: "Barlow";
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 26px; /* 162.5% */
     width: 40%;
     margin-bottom: 56px;
}


